.about {
  color: black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

html {
  background: url("../img/2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}  
