.about {
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1.5em;
}

.social {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  /* I'd like to have this at the bottom of the page, PR if you know! */ 
}

html {
  background: url("../img/2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}  
